:root {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --text-color: #ffffff;
  --background-color: #333;
  --border-color: rgb(81, 81, 81);
}

body {
  padding: 0;
  margin: 0;
}

.nav {
  font-weight: bold;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  background-color: inherit;
}

.nav li button,
.nav .align-right button {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: bold;
  display: block;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 16px;
  border: none;

  background-color: inherit;
  cursor: pointer;
}

.align-right {
  float: right;
}

.center {
  text-align: center;
}

/* Main Page */
.main {
  display: block;
  margin-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 400px;
  margin-right: 400px;

  border-style: solid;
  border-color: #333;
  border-radius: 15px;
  background-color: #333;
}

.main button {
  border-color: #242424;
  background-color: #242424;
  cursor: pointer;
  font-size: 20px;
}

.main .title {
  font-size: 37px;
  font-weight: bolder;
  line-height: 40px;
}

.main p {
  font-size: 20px;
}

.main .subtitle {
  font-weight: 700;
}

/* Store */
.store {
  margin-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
}

.info {
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #444;
  padding: 7px 7px 7px 7px;
}

.cards {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 7px 7px 7px 7px;
  font-size: 28px;
  line-height: 45px;
  text-align: center;
  font-weight: 500;
  
  border-style: solid;
  border-color: #333;
  border-radius: 10px;
  background-color: #333;
}

.cards a {
  color: #fff;
  text-decoration: none;
}

.loading {
  display: inline-block;
  border-style: solid;
  border-color: #333;
  border-radius: 10px;
  background-color: #333;
  padding: 5px 40px 5px 40px;

  text-align: center;
}

.loading p {
  font-size: 20px;
  font-weight: 600;
}

/* About */
.about {
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 500px;

  padding: 10px 10px 10px 10px;
  font-size: 17px;
  border-style: solid;
  border-color: #333;
  background-color: #333;
  border-radius: 10px;
}

.about span {
  font-weight: 900;
}

.about a {
  color: #1e96ff;
}